{% extends "website/base.html" %}

{% block content %}
    <h1>S</h1>
    <div>
    <h2><b>ROBERT_DOWNEY JR</b></h2>
    <div class="itemimage">
        <img src="/static/img/robertdowneyjr.jpg" alt="executive image" width="250" height="300">
    </div>
    <P>Designation:<b>FOUNDER</b></P>
    </div>

    <div>
    <br>
    <h2><b>JACK_MA</b></h2>
    <div class="itemimage">
        <img src="/static/img/jackma.jpg" alt="executive image" width="250" height="300">
    </div>
    <P>Designation:<b>CEO</b></P>
    <br>
    </div>

    <div>
    <br>
    <h2><b>LARRY_ELLISON</b></h2>
    <div class="itemimage">
        <img src="/static/img/larryellison.jpg" alt="executive image" width="250" height="300">
    </div>
    <P>Designation:<b>TECHNICAL HEAD</b></P>
    <br>
    </div>

    <div>
    <br>
    <h2><b>GAUTAM_ADANI</b></h2>
    <div class="itemimage">
        <img src="/static/img/GautamAdani.jpg" alt="executive image" width="250" height="300">
    </div>
    <P>Designation:<b>R&D HEAD</b></P>
    <br>
    </div>

    <div>
    <br>
    <h2><b>CHRIS_HEMSWORTH</b></h2>
    <div class="itemimage">
        <img src="/static/img/chrishemsworth.jpg" alt="executive image" width="250" height="300">
    </div>
    <P>Designation:<b>DESIGN HEAD</b></P>
    <br>
    </div>

    <div>
    <br>
    <h2><b>GIGI_HADID</b></h2>
    <div class="itemimage">
        <img src="/static/img/gigihadid.jpg" alt="executive image" width="250" height="300">
    </div>
    <P>Designation:<b>MARKETTING HEAD</b></P>
    <br>
    </div>
{% endblock  %}