{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">
        <h1>Our Premium Products</h1>
        <div class="productitems">
            <div class="productitem">
                <div class="itemimage">
                    <img src="/static/img/HyperXFury8GB.jpg" alt="product image">
                </div>
                <div class="itemname">8GB hyperx laptop memory</div>
                <div class="itemprice">Price: Rs.10,000.00 </div>
            </div>
            <div class="productitem">
                <div class="itemimage">
                    <img src="/static/img/c2.jpg" alt="product image">
                </div>
                <div class="itemname">1TB Laptop HDD</div>
                <div class="itemprice">Price: Rs.5000.00 </div>
            </div>
            <div class="productitem">
                <div class="itemimage">
                    <img src="/static/img/ChiptronexGX3000RGB.jpg" alt="product image">
                </div>
                <div class="itemname">Chiptronex GX3000 RGB </div>
                <div class="itemprice">Price: Rs.1,100,00.00 </div>
            </div>
            <div class="productitem">
                <div class="itemimage">
                    <img src="/static/img/keyboard.jpg" alt="product image">
                </div>
                <div class="itemname"> E - Royal Shop Rainbow LED</div>
                <div class="itemprice">Price: Rs.899.00 </div>
            </div>
            <div class="productitem">
                <div class="itemimage">
                    <img src="/static/img/mouse.jpg" alt="product image">
                </div>
                <div class="itemname"> E - Royal mouse </div>
                <div class="itemprice">Price: Rs.300.00 </div>
            </div>
            <div class="productitem">
                <div class="itemimage">
                    <img src="/static/img/ram.jpg" alt="product image">
                </div>
                <div class="itemname"> DDR4 3200 MHz RAM for Desktop PC </div>
                <div class="itemprice">Price: Rs.3,400.00 </div>
            </div>
            <div class="productitem">
                <div class="itemimage">
                    <img src="/static/img/specker.jpg" alt="product image">
                </div>
                <div class="itemname"> Zebronics Zeb-Warrior 2.0 </div>
                <div class="itemprice">Price: Rs.300.00 </div>
            </div>
            <div class="productitem">
                <div class="itemimage">
                    <img src="/static/img/camera.jpg" alt="product image">
                </div>
                <div class="itemname">Zebronics Zeb-Crystal Clear Web Camera with 3P Lens </div>
                <div class="itemprice">Price: Rs.300.00 </div>
            </div>
            <div class="productitem">
                <div class="itemimage">
                    <img src="/static/img/motherboard.jpg" alt="product image">
                </div>
                <div class="itemname"> Dual 9P Motherboard Header Extension Cable </div>
                <div class="itemprice">Price: Rs.300.00 </div>
            </div>
            <div class="productitem">
                <div class="itemimage">
                    <img src="/static/img/htmlcable.jpg" alt="product image">
                </div>
                <div class="itemname">Converter Adapter Cable (Black)</div>
                <div class="itemprice">Price: Rs.200.00 </div>
            </div>
            <div class="productitem">
                <div class="itemimage">
                    <img src="/static/img/networkadopter.jpg" alt="product image">
                </div>
                <div class="itemname">TP-LINK TG-3468 Gigabit PCI Express Network Adapter</div>
                <div class="itemprice">Price: Rs.200.00 </div>
            </div>
            <div class="productitem">
                <div class="itemimage">
                    <img src="/static/img/fan.jpg" alt="product image">
                </div>
                <div class="itemname">Electronic Spices Electronicspices DC 12V HIGH END Cooling Fan Black for PC Case CPU
                    Cooler r</div>
                <div class="itemprice">Price: Rs.400.00 </div>
            </div>
        </div>    
    </div>
{% endblock  %}